/** global styles **/

@font-face {
	font-family: 'DINNextLTPro';
	src: url('./font/DINNextLTPro-Regular.woff2') format('woff2'),
		url('./font/DINNextLTPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/** global styles **/
* {
	font-family: 'DINNextLTPro';
}

/** charts **/
tspan {
	user-select: none;
}
