/** global styles **/

@font-face {
	font-family: 'DINNextLTPro';
	src: url('./font/DINNextLTPro-Regular.woff2') format('woff2'),
		url('./font/DINNextLTPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/** global styles **/
* {
	font-family: 'DINNextLTPro';
}

/** charts **/
tspan {
	user-select: none;
}

// ScenarioGraph bars
.bars {
	display: flex;
	height: 100px;
	justify-content: space-around;
	margin: 30px 20px 20px 55px;

	.bar {
		//background: #b09aff;
		position: relative;
		height: 100px;
		min-width: 1px;
		border: 1px solid white;
		cursor: pointer;
		background-image: linear-gradient(to bottom, #008dc9 1%, transparent);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(./images/mask.png) no-repeat 0px 0px;
		}

		span {
			display: block;
			//background: #6236ff;
			min-width: 10px;

			background-image: linear-gradient(
				to bottom,
				#008dc9 1%,
				transparent
			);

			&.current {
				//background: #d01c8b;

				background-image: linear-gradient(
					to bottom,
					#d01c8b 1%,
					transparent
				);
			}
		}
	}
}
